/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0 | 20110126
	 License: none (public domain)
	 Changed from CSS to SASS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'GT Walsheim Pro', sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
  outline: none;
}

body {
  width: 100%;
  min-height: 100%;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  background-color: #f5f4f1;
}

nav {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 64px;
  padding: 0 24px;
  background-color: rgba(245, 244, 241, 0.25);
  -webkit-backdrop-filter: blur(12px) saturate(100%);
          backdrop-filter: blur(12px) saturate(100%);
}

nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

nav .nav-container__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-container__right .icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-container__right .icon-list .count {
  display: block;
  height: 28px;
  width: 28px;
  line-height: 28px;
  background-color: #995cbf;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

nav .nav-container__right .icon-list li {
  margin-right: -5px;
}

nav .nav-container__right .icon-list img {
  height: auto;
  width: 28px;
  height: 28px;
}

nav .nav-container__right--btn {
  display: block;
  margin-right: 16px;
  margin-left: 21px;
  padding: 4px 12px;
  border-radius: 8px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
}

main {
  margin-top: 64px;
  padding: 0 24px;
}

main .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  min-height: 70vh;
  margin-bottom: 24px;
  border-radius: 32px;
  background-color: #4c5dc1;
}

main .hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 240px;
}

main .hero__title__container {
  max-width: 320px;
  text-align: center;
  z-index: 1;
}

main .hero__title__container > div {
  margin-bottom: 8px;
  color: #d1d5ff;
  font-size: 12px;
  letter-spacing: 4px;
}

main .hero__title__container > h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
  color: #fff;
}

main .hero__img {
  position: relative;
  top: -160px;
  margin-bottom: -200px;
  max-width: 100%;
  height: auto;
}

main .intro {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 120px;
  padding-bottom: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .intro__container {
  position: relative;
  max-width: 560px;
  margin: 0 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .intro-text {
  margin-bottom: 48px;
  font-size: 32px;
  line-height: 40px;
}

main .intro-pencil, main .intro-strikes2, main .intro-strikes {
  max-width: 100%;
  height: auto;
  position: absolute;
}

main .intro-pencil {
  width: 168px;
  top: 100px;
  right: -180px;
}

main .intro-strikes2 {
  width: 218.5px;
  left: -230px;
  bottom: 150px;
}

main .intro-strikes {
  width: 124px;
  left: -160px;
  bottom: 80px;
}

main .calendar,
main .meeting {
  max-width: 1440px;
  padding: 160px 0;
  overflow: hidden;
}

main .mission {
  display: block;
  overflow: hidden;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 120px 24px 48px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .footer-container .footer-left,
footer .footer-container .footer-right {
  color: #1b1d2a;
  font-weight: 700;
}

footer .footer-container .footer-left > a,
footer .footer-container .footer-right > a {
  margin-left: 16px;
}

footer .footer-container .footer-right {
  opacity: 0.5;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=index.css.map */